<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/main_styles.css" asp-append-version="true">
</head>
<body>

    <header>
        <div id="block-search">
            <img class="icon-search" src="@Url.Content("/images/icon_search.png")" alt="Поиск" asp-append-version="true">
            <input class="input" type="text" placeholder="Поиск">
        </div>
        <div id="user-info">
            <img class="avatar-icon" src="@Url.Content("/images/avatar.png")" alt="Имя Фамилия" asp-append-version="true">
            <span class="username-label">@TempData["UserFullName"]</span>
            @using (Html.BeginForm("Logout", "Authorization", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <button type="submit" class="quit-button">Выйти</button>
            }
        </div>
    </header>

    <nav>
        <!-- Боковая шторка-->
        <div class="logo-container">
            <img class="menu-logo" src="@Url.Content("/images/menu_logo.png")" alt="Лого меню" asp-append-version="true">
        </div>
        <a href="#">
            <img class="menu-icon" src="@Url.Content("/images/icon_people.png")" alt="График работы филдов" asp-append-version="true">
            <span class="label">График работы филдов</span>
        </a>
        <a href="@Url.Action("UserIndex", "UserItems")">
            <img class="menu-icon" src="@Url.Content("/images/icon_plan.png")" alt="Планирование работ" asp-append-version="true">
            <span class="label">Планирование работ</span>
        </a>
        <a href="#">
            <img class="menu-icon" src="@Url.Content("/images/icon_pin.png")" alt="Мои работы" asp-append-version="true">
            <span class="label">Мои работы</span>
        </a>
        <a href="#">
            <img class="menu-icon" src="@Url.Content("/images/icon_settings.png")" alt="Редактор Учетной записи" asp-append-version="true">
            <span class="label">Редактор Учетной записи</span>
        </a>
    </nav>

    <main>
        @RenderBody()
    </main>

    <script src="@Url.Content("/js/main_scripts.js")"></script>

</body>
</html>
