@model List<DefaultTable>

<table class="table">
    <thead>
        <tr>
            <th>ФИО</th>
            <th>Ссылка на ТГ</th>
            <th>Должность</th>
            <th>Пн</th>
            <th>Вт</th>
            <th>Ср</th>
            <th>Чт</th>
            <th>Пт</th>
            <th>Сб</th>
            <th>Вс</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.FirstName @item.MiddleName @item.LastName</td>
                <td>@item.Link</td>
                <td>@item.Position</td>
                <td>@item.Monday</td>
                <td>@item.Tuesday</td>
                <td>@item.Wednesday</td>
                <td>@item.Thursday</td>
                <td>@item.Friday</td>
                <td>@item.Saturday</td>
                <td>@item.Sunday</td>
            </tr>
        }
    </tbody>
</table>
